@import '../../../../../../../scclStyles';
@import '../../../../scclLoginModule/scclLogin';

:host /deep/ {

// The header div is divided into 3 partitions
div.header {
	position: fixed;
	width: 100%;
  	div.topHeader {	
  		position: fixed;
  		background: $sccl-darken-gray;
  		padding: 0 3.5%;
  		z-index: 140;
  		height: 17px;
  		width: 100%;
  		a{
  			font-size: 12px;
  			text-decoration: none;
  			color: $sccl-light-gray;
  			font-weight: bold;
  			i {
  				color: $sccl-sky-blue;
  			}
  		}
  		.session{
  			float:left;
  			margin-top: -7px;
  		}
  		.dateToday {
  			float:left;
  			margin-left: 35%;
  			margin-top: -7px;
  		}
  		.lastLogin {
  			float: right;
  			margin-top: -6.5px;
  		}
  		
  	}
 
 
 // This styles the first partition of the sccl-header-div 
 
	.sccl-header-div {
  		background-color: $sccl-dark-gray;
  		position: relative;
  		top: 17px;
    	z-index: 130;
   	 	height: 40px;
    	width: 100%;
    	min-width: $resMin;
    	.dropdown-toggle::after {
      		display: none;
    	}
 
  		.sccl-header-leftside {
  			position: relative;
  			left: 20px;
  			height: 55px;
  			top: -5px;
  			width: 220px;
  			float: left;
  			.collapse-menu-link {
    			font-size: 31px;
    			cursor: pointer;
    			display: inline;
    			text-decoration: none;
    			line-height: 42px;
    			color: $sccl-light-gray; 
    			padding: 0;
    			float: left;
    			margin: -60px 0 0 185px;
    			&:hover {
      				text-decoration: none;
      				color: $sccl-bright-white;
    			}
  			}
  		.collapse-menu-link-mobile {
  				display:none;
  		}
  		.sccl-logo {
    		@include topbar();
    		.logoSc, .logoCl {
      			color: $sccl-sky-blue;
      			font-family: 'Anton', sans-serif;
      			text-decoration: none;
    		}
    		.logoCl {
    			color: $sccl-bright-white;
    		}
    		&:hover {
    			color: $sccl-light-gray;
    			text-decoration: none;
  			}
  			&:link {
				text-decoration: none;
			}
			img {
				width: 35px;
				position: absolute;
				top: 4px;
				right: 64px;
			}
  		}
  	}
  }
  

// This styles the second partition of the sccl-header-div
 
   .search {
    text-shadow: none;
    font-size: 13px;
    line-height: 25px;
    transition: all 0.5s ease;
    white-space: nowrap;
    overflow: hidden;
    width: 162px;
    float: left;
    margin-left: 16%;

    label {
      cursor: pointer;
    }
    i {
      width: 16px;
      display: inline-block;
      cursor: pointer;
      padding-left: 1px;
      font-size: 16px;
      margin-right: 13px;
      color:$sccl-light-gray;
    }
    input {
      color: $sccl-bright-white;
      background: none;
      border: none;
      outline: none;
      width: 120px;
      padding: 0;
      margin: 0 0 0 -3px;
      height: 27px;
      &:focus{
      	background: $sccl-bright-white;
      }
    }
  }
   
// This styles the third partition of the sccl-header-div 

  .user-profile {
    float: right;
    width: 650px;
    margin-top: -10px;
    
    .msg-notification-box {
  		float: left;
  		color: white;
  		position: relative;
    	left: 100px;
    	top: 3px;
  	}
       
    .al-user-profile {
    	float: right;
   	 	transition: all .15s ease-in-out;
    	padding: 0;
    	width: 135px;
    	top: 10px;
    	height: 36px;
    	opacity: 1;
    	position: relative;
    	left: -220px;
    	
    	a {
      		display: block;
      		text-decoration: none;
    	}
    	img {
      		width: 35px;
      		height: 35px;
      		border-radius: 50%;
   		 }
    	span {
    		margin: 0 5px;
    	}
    	.profile-toggle-link {
    		cursor: pointer;
    		span, i{
    			color: $sccl-bright-white;
    		}
  		}
  		
    }
    
    .collapse-right-sidebar{
    	font-size: 31px;
    	cursor: pointer;
    	display: block;
    	text-decoration: none;
    	line-height: 42px;
    	color: $sccl-bright-white;
    	padding: 0;
    	float: right;
    	margin: 6px 70px 0 0;
    	&:hover {
      		text-decoration: none;
      		color: $warning;
    	}
   	}
   	.profile-dropdown {
   		left: -50px;
   		top: 37px;
   	}
  }
}

@media screen and (max-width: $resM) {
	.user-profile {
	
		.sccl-logo {
    		font-size: 20px;
    	}
    	
		.user-profile {
      		min-width: 230px;
      		position: relative;
     		right: -30px;
    	}
	}
    
    .search {
     width: 100px;
    }
  }


  @media screen and (max-width: $resS) {
  	
  	.sccl-header-leftside {
  		.collapse-menu-link {
      		display: none;
    	}
    	.collapse-menu-link-mobile {
    		font-size: 26px;
    		cursor: pointer;
    		display: block;
    		text-decoration: none;
    		line-height: 42px;
    		color: $sccl-bright-white;
    		padding: 0;
    		float: left;
    		margin: 11px 15px 0 2px;
    		&:hover {
      			text-decoration: none;
      			color: $warning;
    		}
    	}
  	}
  	
  	
    .search {
      	display: none;
    }
    
   .user-profile {
      min-width: 70px;
      position: relative;
      .al-user-profile {
      	width: 50px;
      	height: 50px;
     	a > span, .msg-notification-box  {
     		display:none;
     	}
     	img {
      		width: 35px;
     	 	height: 35px;
      		border-radius: 50%;
    	}
      }
    }
  }

  @media screen and (max-width: $resXS) {
    .sccl-header-div {
      padding: 0 20px;
    }
    
    .user-profile {
       min-width: 40px;
       position: relative;
       right: 20px;
       .collapse-right-sidebar {
     	   display:none;
     	}
     }
  }

  @media (max-width: $resXXS) {
    .sccl-header-leftside {
  		width: 200px;
  		.collapse-menu-link {
      		margin-left: 10px;
    	}	
  	}
  	
   .user-profile {
      	min-width: 40px;
      	position: relative;
      	right: 3%;

    }
  } 
  
   @media (max-width: $resXXS - 50) {
    .sccl-header-leftside {
  		width: 200px;
  		.collapse-menu-link {
      		margin-left: 10px;
    	}	
  	}
  	
   .user-profile {
      	min-width: 40px;
      	position: relative;
      	right: 30px;
    }
  } 
  

}