<div *ngFor="let headerMenu of menuItems">
	<div *ngIf="headerMenu.top">
		<div *ngFor="let top of headerMenu.top" class="topHeader clearfix">
			<div *ngIf="top.route" class="{{top.class}}">
				<a href="#"
				[routerLink]="headerMenu.route.path + top.route.path">
	    		<i *ngIf="top.icon" class="{{top.icon}}"></i>
	    		<span *ngFor="let title of top.titles">
	    			<span *ngIf="title.title" translate>{{title.title}}</span>
	    			<span *ngIf="title.data">{{title.data}}</span>
	    		</span>
	  			</a>
			</div>
		</div>
	</div>
	
	<div *ngIf="headerMenu.main">
		<div *ngFor="let main of headerMenu.main" class="sccl-header-div clearfix" scclScrollPosition maxHeight="50"
				(scrollChange)="scrolledChanged($event)" [ngClass]="{scrolled: isScrolled}">
			<div *ngIf="main.route" class="sccl-header-leftside clearfix">
			<a href (click)="toggleMenu()" class="collapse-menu-link-mobile ion-navicon"></a> 
				<a routerLink="home/dashboard" class="sccl-logo clearfix">	
	    		<span *ngFor="let title of main.titles">
	    			<span class="logoSc" *ngIf="title.title1" translate>{{title.title1}}</span><span class="logoCl" *ngIf="title.title2" translate>{{title.title2}}</span>
	    		</span>
	    		<img *ngIf="main.img.name" alt="{{main.img.name}}" src="{{ ( 'scclLogo/sccl_logo' | scclPngExt ) }}">
	  			</a><a href (click)="toggleMenu()" class="collapse-menu-link ion-navicon"></a>
			</div>
		
			<div *ngIf="main.search">
				<div class="{{main.search.class}}">
					<i class="{{main.search.icon}}" ng-click="startSearch()"></i> 
					<input id="searchInput" type="text" placeholder="{{main.search.placeHolder | translate}}">
				</div>	
			</div>
			
			<div *ngIf="main.rightSideHeader" class="user-profile clearfix">
				<div *ngIf="main.rightSideHeader.button">
					<a href="javascript:void(0)" class="collapse-right-sidebar ion-navicon" scclToggleRightSidebar></a>
				</div>
		
				<div *ngIf="main.rightSideHeader.userInfo" class="dropdown al-user-profile">
					<a href="#" class="profile-toggle-link dropdown-toggle"
						id="user-profile-dd" data-toggle="dropdown" aria-expanded="false">
						<img src="{{ ( main.rightSideHeader.userInfo.user.avatar | scclPngExt ) }}"> 
						<span translate>{{main.rightSideHeader.userInfo.user.status}}</span>
						<i class="ion-arrow-down-b"></i>
					</a>
					<sccl-dropdown-menu class="dropdown-menu top-dropdown-menu profile-dropdown" aria-labelledby="user-profile-dd" 
					[dropDownMenuItems]="main.rightSideHeader.userInfo.children"></sccl-dropdown-menu>
				</div>

				<div class="msg-notification-box">
					<sccl-msg-center></sccl-msg-center>
				</div>
			</div>
		</div>
	</div>
	
	<div *ngIf="headerMenu.contentTop">
		<sccl-content-top></sccl-content-top>
	</div>
</div>