<div class="header">
	<div *ngIf="menuItems[0].top">
		<div class="topHeader clearfix">
			<div class="session">
				<a href="#" [routerLink]="'/' + menuItems[0].route.path + menuItems[0].top.session.path">
	    			<i  class="{{menuItems[0].top.session.icon}}"></i>
	    			<span translate>{{menuItems[0].top.session.t1}}</span>
	    			<span>{{menuItems[0].top.session.d1}}</span>
	    			<span translate>{{menuItems[0].top.session.t2}}</span>
	    			<span>{{menuItems[0].top.session.d2}}</span>
	  			</a>
			</div>
			
			<div class="dateToday">
				<a href="#" [routerLink]="'/' + menuItems[0].route.path + menuItems[0].top.dateToday.path">
	    			<i  class="{{menuItems[0].top.dateToday.icon}}"></i>
	    			<span translate>{{menuItems[0].top.dateToday.t1}}</span>
	    			<span>{{menuItems[0].top.dateToday.d1}}</span>
	    			<span translate>{{menuItems[0].top.dateToday.t2}}</span>
	    			<span>{{menuItems[0].top.dateToday.d2}}</span>
	  			</a>
			</div>
			
			<div class="lastLogin">
				<a href="#" [routerLink]="menuItems[0].top.lastLogin.path">
	    			<i  class="{{menuItems[0].top.lastLogin.icon}}"></i>
	    			<span translate>{{menuItems[0].top.lastLogin.t1}}</span>
	    			<span>{{menuItems[0].top.lastLogin.d1}}</span>
	  			</a>
			</div>
		</div>
	</div>
 	
	<div *ngIf="menuItems[1].main">
		<div class="{{menuItems[1].main.class}} clearfix" scclScrollPosition maxHeight="50"
				(scrollChange)="scrolledChanged($event)" [ngClass]="{scrolled: isScrolled}">
			<div class="sccl-header-leftside clearfix">
				<a href (click)="toggleMenu()" class="collapse-menu-link-mobile ion-navicon"></a> 
				<a [routerLink]="menuItems[1].main.logoSection.path" class="sccl-logo clearfix">
	    			<span class="logoSc" translate>{{menuItems[1].main.logoSection.t1}}</span><span class="logoCl" translate>{{menuItems[1].main.logoSection.t2}}</span>
	    			<img alt="{{menuItems[1].main.logoSection.logoName}}" src="{{ ( 'scclLogo/sccl_logo' | scclPngExt ) }}">
	  			</a>
	  			<a href (click)="toggleMenu()" class="collapse-menu-link ion-navicon"></a>
			</div>
		
			<div *ngIf="menuItems[1].main.search">
				<div class="search">
					<i class="{{menuItems[1].main.search.icon}}" ng-click="startSearch()"></i> 
					<input id="searchInput" type="text" placeholder="{{menuItems[1].main.search.placeHolder | translate}}">
				</div>	
			</div>
			
			<div *ngIf="menuItems[1].main.userInfo" class="user-profile clearfix">
				<div>
					<a href="javascript:void(0)" class="collapse-right-sidebar ion-navicon" scclToggleRightSidebar></a>
				</div>
		
				<div class="dropdown al-user-profile">
					<a href="#" class="profile-toggle-link dropdown-toggle"
						id="user-profile-dd" data-toggle="dropdown" aria-expanded="false">
						<img src="{{ ( menuItems[1].main.userInfo.avatar | scclPngExt ) }}"> 
						<span translate>{{ menuItems[1].main.userInfo.status}}</span>
						<i class="ion-arrow-down-b"></i>
					</a>
					<sccl-dropdown-menu class="dropdown-menu top-dropdown-menu profile-dropdown" aria-labelledby="user-profile-dd" 
					[dropDownMenuItems]=" menuItems[1].main.userInfo.children"></sccl-dropdown-menu>
				</div>

				<div class="msg-notification-box">
					<sccl-msg-center></sccl-msg-center>
				</div>
			</div>
		</div>
	</div>
	
	<div *ngIf="menuItems[1].main.contentTop">
		<sccl-content-top></sccl-content-top>
	</div>
</div>