@import '../../../sass/conf/conf';

$sidebar-scroll-width: 4px;
$angle-left: '\f100';
$angle-right: '\f101';

@mixin default-sublist() {
  padding: 0;
  list-style: none;
  position: relative;
  display: none;
  &.expanded {
    display: block;
  }
  > ba-menu-item > li {
    display: block;
    float: none;
    padding: 0;
    border-bottom: none;
    position: relative;
    a {
      display: block;
      text-shadow: none;
      font-size: 14px;
      text-decoration: none;
      color: $sidebar-text;
      padding-left: 52px;
      height: auto;
      line-height: 29px;
      &:hover {
        color: $primary; 
      }
    }
    &.selected:not(.with-sub-menu) > a {
      border: none;
      background-color: $primary;
      &:hover {
        color: $sidebar-text;
      }
    }
  }
}

:host /deep/ {
  .sccl-right-sidebar-hidden {
    width: $sidebar-width;
    right:0;
    transform: translateX(200px);
    transition: .3s;
    top: $top-height;
    display: block;
    min-height: 100%;
    background-color: $sidebar;
    height: 100%;
    position: fixed;
  }

  .sccl-right-sidebar {
    width: 236px;
    transform: translateX(0px);
    transition: .3s;
    top: $top-height;
    right: 0;
    display: block;
    min-height: 100%;
    background-color: $sidebar;
    height: 100%;
    position: fixed;
  }
 
}

.nav.nav-tabs {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-right: $sidebar solid 11px;
  border-left: $sidebar solid 11px;
  border-bottom: $default solid 1px;
  border-top: $default solid 1px;
  background-color: $sidebar;
  
  & > li > a {
  	color: $default;
    text-align: center;
    font-size: 1.2rem;
    margin-right: 0;
    margin-bottom: 0;
    border-radius: 0;
    border: none;
    &:hover {
      background-color: $primary;
      color:$sidebar;
    }
    :active {
    	background-color: $primary;
    }
  }
}


@media screen and (max-width: $resM) {
	.sccl-right-sidebar {
    	width: 130px;
	}
	.nav.nav-tabs {
		& > li > a{
			font-size: .9rem;
		}
	}
  }
  
  @media screen and (max-width: $resS) {
	.sccl-right-sidebar {
    	width: 130px;
	}
	.nav.nav-tabs {
		& > li > a{
			font-size: .9rem;
		}
	}
  }

  @media screen and (max-width: $resXXS) {
	.sccl-right-sidebar {
    	display:none;
	}
  }

