@import '../../../../scclStyles';

.navbar {
	color: $sccl-light-gray;
	left: 13px;
	top: 5px;
	background: $sccl-dark-gray;
	border: 2px solid $sccl-dark-gray;
	padding-top: 1.5px;
	padding-bottom: 0; 
}
.sccl-table {
	background: $sccl-bright-white;
	position: relative;
	left: 13px;
	top: 3px;
	width: 100%;
}
	