@import '../../../../scclStyles';

.sccl-table-container {
	font-size: 0.9em;
	border: red 1px solid;
	position: relative;
	right: -70px;
	top: 50px;
	.sccl-table {
	
		.right-side-table-head {
			background: #ccc;
			border-radius: 3px;
			height: 30px;
			.add-new-item-btn, .delete-selected-items-btn {
				button {
					margin-right: 40px;
					height: 30px;
					background: none;
					padding: 0 10px;
					border: 0;
					color: green;
				}
				
			}
			
			.delete-selected-items-btn  {
				button {
					margin-right: .5px;
					height: 30px;
					background: none;
					padding: 0 10px;
					color: red;
				}
			}
		}
		
		.card-block {
			table.actions {
				button {
					line-height: 8px;
					text-align: center;
					margin: 0;
					padding: 5px;
					background: none;
					border: 0;
				}
				button.btn-primary {
					color: green;
				}
					
				button.btn-danger {
					color: red;
				}
				tbody {
					tr {
						margin: 0;
						padding: 0;
						height: 20px;
					}
				}
			}
		}
	}
}


@media screen and (max-width: $resXXL + 300) {
	.sccl-table-container {
		right: -20px;
		.card-block {
			table.main-table {
				thead {
					th.col-title {
						
					}
				} //thead*
			} // main-table class*
			
		} // card-block class*
	}
}