<!--  
<aside>
	<div class="widget" dnd-sortable-container [sortableData]="listOne" scclSlimScroll [scclSlimScrollOptions]="asideLayout"> 
		<button>add tab</button>
		<div class="card" *ngFor="let item of listOne; let i = index" dnd-sortable [sortableIndex]="i">
			<div class="card-header">{{item.name}}</div>
			<div *ngIf="item.img">
				<img src="{{ ( 'images/' + item.img.name | scclPngExt ) }}" alt="weather-widget" class="img-thumbnail">
			</div>
			<div *ngIf="item.data">
				<div class="card-block">
				<h4 class="card-title">Special title treatment</h4>
				<p class="card-text">With supporting text below as a natural 
				lead-in to additional content.</p>
				<a href="#" class="btn btn-primary">Go somewhere</a>
			</div>			
			</div>
		</div>
	</div>
</aside>
-->