@import '../../../../scclStyles';

.sccl-inner-layout{
	z-index: -1;
	margin-left: 65px;
	position: fixed;
	top: 75px;
	transition: .5s;
}

.rightSideBarCollapsedL {
	margin-left: 190px;
	transition: .5s;
}

@media screen and (max-width: $resXXL - 80) {
	.sccl-inner-layout{
		margin-left: 190px;
	}	
	.rightSideBarCollapsedL {
		margin-left: 65px;
	}
}

@media screen and (max-width: $resXS) {
	.sccl-inner-layout{
		margin-left: 5px;
	}	
}
