.sccl-inner-layout{
	border: red solid 2px;
	width: 87.5%;
	z-index: -1;
	position: fixed;
	top: 75px;
	margin-left: 12.5%;
	sccl-inner-aside-layout {
		width: 300px;
		float:right;
	}
	
}