$font-family: 'Roboto', sans-serif;

$resXXL: 1280px;
$resXL: 1170px;
$resL: 991px;
$resM: 768px;
$resS: 660px;
$resXS: 500px;
$resXXS: 435px;
$resMin: 320px;

$small-card-height: 114px;
$xsmall-card-height: 187px;
$medium-card-height: 400px;
$extra-medium-card-height: 550px;
$large-card-height: 974px;

$default-animation-duration: 0.2s;
$default-animation-style: ease-out;

$assets-root: '/assets';
$images-root: '/scclImages/';
$fonts-root: '/fonts/';
$font-thin: 100;
$font-light: 300;
$font-normal: 400;
$font-bold: 700;
$font-bolder: 500;
$font-ultraBold: 900;

$facebook-color: #3b5998;
$twitter-color: #55acee;
$google-color: #dd4b39;
$linkedin-color: #0177B5;
$github-color: #6b6b6b;
$stackoverflow-color: #2F96E8;
$dribble-color: #F26798;
$behace-color: #0093FA;

// Dimensions
$full-d: 100%;
$md-d: 50%;
$xsm-d: 25%;
$xxsm-d:12.5%;
$xxxsm-d:6.25%;
$xxxxsm-d: 3.125%;

$sidebar-width: 190px;
$top-height: 100px;
$sidebar-scroll-width: 4px;
$angle-left: '\f100';
$angle-right: '\f101';

$border-color:                        $gray-200 !default;
$layout-transition-speed:             .25s !default;

// Navbar
$navbar-brand-bg:                     $sccl-dark-gray;
$navbar-brand-logo:                   url($assets-root+ $images-root + 'scclLogo/logo.png'); 
$navbar-height:                       55px !default;
$navbar-bg:                           #fff !default;
$navbar-brand-logo-size:              170px auto !default;
$navbar-border: (
  bottom: (
    size:                             1px,
    style:                            solid,
    color:                            $border-color
  )
)  !default;
$navbar-brand-width:                  200px !default;
$navbar-brand-border: (
  bottom: (
    size:                             1px,
    style:                            solid,
    color:                            $border-color
  )
) !default;

$navbar-color:                        $gray-600 !default;
$navbar-hover-color:                  $gray-800 !default;
$navbar-active-color:                 $gray-800 !default;
$navbar-disabled-color:               $gray-300 !default;
