@import '../scclStyles';
@import '/scclShared/scclSharedModule/scclLayoutModule/scclOuterLayout/scclAside/scclLeftSideBar/scclLeftSidebar';

:host /deep/ {
  @mixin layout-collapsed() {
    .al-main {
      margin-left: 50px;
    }
    .al-footer {
      padding-left: 83px;
    }
  }


  @media (min-width: 1200px) {
    .menu-collapsed {
      @include layout-collapsed();
    }
  }

  @media (max-width: 1200px) and (min-width: $resXS) {
    @include layout-collapsed();
  }

  @media (min-width: $resXS + 1) {
    .menu-collapsed {
      @include sidebar-collapsed();
    }
  }

  @media (max-width: 1200px) {
    @include sidebar-overlap();
  }

  @media (max-width: $resXS) {
    .menu-collapsed {
      @include sidebar-hidden();
    }
    .al-main {
      margin-left: 0;
    }
    .al-footer {
      padding-left: 0;
    }
  }
}
