@import '../../../../../../../scclStyles';

$margin-left: 1px;
$margin-top: 1px;
$none: none;
$left: 0px;
$block: block;
$relative: relative;
$content: '';
$right: 1px;
$i-left: $left;
$background: $sccl-dark-gray;

:host /deep/ {
/*
when left side bar is not collapsed
*/
  .sccl-left-sidebar {
    @include sccl-left-sidebar(
    	$sidebar-width + 10, 
    	$font-size + 0.1, 
    	$margin-top - 2,
    	$margin-left + 46,
    	($left + 7),
    	$none, $block, $sccl-off-white);
    	
    ul.sccl-left-sidebar-list {
    	> sccl-menu-item > li {
    		// sublist
    		> ul { 
    			@include sccl-left-sidebar-sublist(
    			$relative,
    			$block,
    			$left,
    			$margin-top,
    			 $content,
    			 $right - 33,
    			 $i-left + 40,
    			 shade($sccl-dark-gray, 20%),
    			 $full-d
    			);
    		}
    	}
    }//ul.sccl-left-sidebar-list**
  }//sccl-left-sidebar **
  

/*
sccl-left-sidebar-collapsed override some properties of the above class once the left side bar is collapsed.	
*/
  .sccl-left-sidebar-collapsed {
  		$i-left: $left;
  		$text-align: center;
  		
  		@include sccl-left-sidebar(
  			($sidebar-width - 125), 
  			11px, 23px, -1px, ($left + 25),
  			$text-align, $none, $sccl-bright-white);
		
		ul.sccl-left-sidebar-list {
    	> sccl-menu-item > li {
    		// sublist
    		> ul {
    			display: block;
    			@include sccl-left-sidebar-sublist(
    			fixed, $block, 
    			($left + 73),
    			($margin-left - 60),
    			 $fa-caret-left,
    			 $right,
    			 $i-left + 7,
    			 rgba(45,54,53, 0.8),
    			 145.5px
    			);
    		}
    	}
    }//ul.sccl-left-sidebar-list**	
  }// sccl-left-sidebar-collapsed **
  
  .sccl-left-sidebar-sub-menu-toggle {
		display: block;
		> div {
			background: red;
		}
		
  }
}


	 
