@import '../../../../../../../scclStyles';


:host /deep/ {
  .al-sidebar {
    width: $sidebar-width;
    transition: width 0.5s ease;
    top: $top-height;
    left: 0;
    z-index: 30;
    display: block;
    min-height: 100%;
    background-color: $sccl-dark-gray;
    height: 100%;
    position: fixed;
    .left-side-footer {
    	z-index: 1000;
    	position: relative;
    	background: $sccl-darken-gray;
    	margin-top: -30px;
    	text-align: center;
    	
    	color: #fff;
    	width:100%;
    	height: 140px;
    	i{
    		font-size: 30px;
    		color: $sccl-light-gray;
    	}
    	i.ion-android-settings {
    		float: left;
    		font-size: 25px;
    		padding-left: 15px;
    	}
    	i.ion-android-exit {
    		float: right;
    		font-size: 25px;
    		padding-right: 15px;
    	}
    }
  }

  .al-sidebar-list {
    margin: 0;
    overflow: hidden;
    padding: 2px 0 0 0;
    list-style: none;
  }

  .al-sidebar-sublist .subitem-submenu-list {
    padding-left: 15px;
  }

  .subitem-submenu-link {
    .fa {
      top: 7px;
    }
  }

  .al-sidebar-list-item {
    display: block;
    position: relative;
    float: none;
    padding: 0;
    &.selected:not(.with-sub-menu) {
      background-color: $sccl-sky-blue;
      a.al-sidebar-list-link {
        color: $sccl-dark-gray;
        font-weight: bold;
        b {
          color: $sccl-bright-white;
        }
      }
    }
  }

  .ba-sidebar-item-expanded {
    > ul.al-sidebar-sublist {
      display: block !important;
    }

  }

  .al-sidebar-list-item, .ba-sidebar-sublist-item {
    &.ba-sidebar-item-expanded {
      > .al-sidebar-list-link {
        b {
          transform: rotate(180deg);
        }
      }

      > .al-sidebar-sublist {
        display: block;
      }
    }
  }

// Styles the texts inside the left side bar menu when is not collapsed
  a.al-sidebar-list-link {
    display: block;
    padding-left: 18px;
    text-shadow: none;
    font-size: 14px;
    text-decoration: none;
    color:$sccl-bright-white;
    z-index: 50;
    line-height: 42px;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
    &:hover {
      color: $sccl-sky-blue;
      b {
        color: $sccl-sky-blue;
      }
    }
    i {
     	position: absolute;
     	float: left;
     	font-size: 22px;
    }
    b {
      display: block;
      opacity: 1;
      transition: opacity 0.2s 0 ease;
      width: 14px;
      height: 14px;
      line-height: 14px;
      text-shadow: none;
      font-size: 18px;
      position: absolute;
      right: 10px;
      top: 12px;
      padding: 0;
      text-align: center;
      color: $sccl-bright-white;
    }
    div {
    	span {
    		margin-left: 40px;
    	}
    }
  } // ends

  .slimScrollBar, .slimScrollRail {
    border-radius: 0 !important;
    width: $sidebar-scroll-width !important;
    left: $sidebar-width - $sidebar-scroll-width;
  }

  .al-sidebar-sublist {
   	@include default-sublist();
  }

  .sidebar-hover-elem {
    width: $sidebar-scroll-width;
    background: $sccl-sky-blue;
    position: absolute;
    top: -150px;
    margin-top: -17px;
    left: $sidebar-width - $sidebar-scroll-width;
    transition: all 0.5s ease;
    transition-property: top, height;
    height: 42px;
    display: block;
  }

  .sidebar-select-elem {
    display: block;
    top: 94px;
  }

  .menu-collapsed {
    .slimScrollBar, .slimScrollRail {
      display: none !important;
    }
  }
}
