@import '../../../../../../../scclStyles';

:host /deep/ {
  .sccl-right-sidebar-hidden {
    width: $sidebar-width;
    right:0;
    transform: translateX(200px);
    transition: .3s;
    top: $top-height;
    display: block;
    min-height: 100%;
    background-color: $sccl-dark-gray;
    height: 100%;
    position: fixed;
  }

  .sccl-right-sidebar {
    width: 236px;
    transform: translateX(0px);
    transition: .3s;
    top: $top-height;
    right: 0;
    display: block;
    min-height: 100%;
    background-color: $sccl-dark-gray;
    height: 100%;
    position: fixed;
  }
 
}

.nav.nav-tabs {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-right: $sccl-dark-gray solid 11px;
  border-left: $sccl-dark-gray solid 11px;
  border-bottom: $sccl-bright-white solid 1px;
  border-top: $sccl-bright-white solid 1px;
  background-color: $sccl-dark-gray;
  
  & > li > a {
  	color: $sccl-bright-white;
    text-align: center;
    font-size: 1.2rem;
    margin-right: 0;
    margin-bottom: 0;
    border-radius: 0;
    border: none;
    &:hover {
      background-color: $sccl-bright-white;
      color:$sccl-bright-white;
    }
    :active {
    	background-color: $sccl-bright-white;
    }
  }
}


@media screen and (max-width: $resM) {
	.sccl-right-sidebar {
    	width: 130px;
	}
	.nav.nav-tabs {
		& > li > a{
			font-size: .9rem;
		}
	}
  }
  
  @media screen and (max-width: $resS) {
	.sccl-right-sidebar {
    	width: 130px;
	}
	.nav.nav-tabs {
		& > li > a{
			font-size: .9rem;
		}
	}
  }

  @media screen and (max-width: $resXXS) {
	.sccl-right-sidebar {
    	display:none;
	}
  }

